########################
# Server
########################
APP_DEBUG=true

APP_HTTP_PORT=8787
APP_HTTP_SECRET="1122334455"
APP_GRPC_PORT=5001
APP_GRPC_SECRET="1122334455"
APP_SHUTDOWN_TIMEOUT=5s

########################
# Database (Postgres)
########################
# For the container change HOST to application_db
APP_DB_HOST=localhost
APP_DB_PORT=5432
APP_DB_USER=postgres
APP_DB_PASSWORD=postgres
APP_DB_NAME=application
APP_DB_SSLMODE=disable

########################
# Firebase
########################
APP_FIREBASE_PROJECT_ID=""
APP_FIREBASE_CREDENTIALS_FILE="firebase.json"
APP_FIREBASE_WEB_API_KEY=""

########################
# Migrations
########################
GOOSE_DRIVER=postgres
GOOSE_MIGRATION_DIR=./db/migrations
GOOSE_DBSTRING=postgres://${APP_DB_USER}:${APP_DB_PASSWORD}@${APP_DB_HOST}:${APP_DB_PORT}/${APP_DB_NAME}?sslmode=${APP_DB_SSLMODE}
